name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  REGISTRY_NAME: dsmsacr
  CLUSTER_NAME: ds-ms
  CLUSTER_RESOURCE_GROUP: ds-ms
  NAMESPACE: demo-e2e

jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Building the Docker image
      run: |
        docker build . --tag demo-e2e
    
    - uses: ds-ms/container-scan@releases/v0
      name: Container Scan
      id: imagescan
      continue-on-error: true
      with:
        image-name: demo-e2e
    
    - name: Docker login
      uses: azure/docker-login@v1
      if: github.event.ref == 'refs/heads/master'
      with:
        login-server: dsmsacr.azurecr.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push image
      if: github.event.ref == 'refs/heads/master'
      run: |
        docker tag demo-e2e ${{ env.REGISTRY_NAME }}.azurecr.io/demo-e2e:${{ github.sha }}
        docker push ${{ env.REGISTRY_NAME }}.azurecr.io/demo-e2e:${{ github.sha }}

    - name: Upload Container Scan Report
      uses: github/codeql-action/upload-sarif@v1
      if: github.event.ref == 'refs/heads/master'
      with:
        sarif_file: ${{ steps.imagescan.outputs.sarif-file-path }}
  
  deploy:
    if: github.event.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: [pre-deploy]
    steps:
    - uses: actions/checkout@v2
    
    - uses: azure/aks-set-context@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
        cluster-name: ${{ env.CLUSTER_NAME }}
        resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}
    
    - run: |
        kubectl create namespace ${{ env.NAMESPACE }} --dry-run -o json | kubectl apply -f -
    
    - uses: azure/k8s-create-secret@v1
      with:
        container-registry-url: ${{ env.REGISTRY_NAME }}.azurecr.io
        container-registry-username: ${{ secrets.DOCKER_USERNAME }}
        container-registry-password: ${{ secrets.DOCKER_PASSWORD }}
        secret-name: ${{ env.REGISTRY_NAME }}-registry-connection
        namespace: ${{ env.NAMESPACE }}
    
    - uses: azure/k8s-deploy@v1
      with:
        manifests: |
          manifests/deploy.yml
        images: |
          ${{ env.REGISTRY_NAME }}.azurecr.io/demo-e2e:${{ github.sha }}
        imagepullsecrets: |
          ${{ env.REGISTRY_NAME }}-registry-connection
        namespace: ${{ env.NAMESPACE }}

  post-deploy:
    runs-on: ubuntu-latest
    if: github.event.ref == 'refs/heads/master'
    needs: [deploy]
    steps:
    - uses: ds-ms/asc-assessment@master
      name: "Create Assessment"
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}
          cluster-name:  ${{ env.CLUSTER_NAME }}
          severity: Medium

    - name: Check resource policy compliance post deployment
      uses: ajinkya599/AzPac@azpac-initial
      with:
        scopes: |
          /subscriptions/c00d16c7-6c1f-4c03-9be1-6934a4c49682/resourcegroups/az-pac-dev/providers/Microsoft.Web/sites/e2egoapp
      
